/Bank.Infrastructure/obj/Debug/net8.0/Bank.Infrastructure.AssemblyInfo.cs
/Bank.Infrastructure/obj/Debug/net8.0/Bank.Infrastructure.AssemblyInfoInputs.cache
/Bank.Infrastructure/obj/Debug/net8.0/Bank.Infrastructure.assets.cache
/Bank.Infrastructure/obj/Debug/net8.0/Bank.Infrastructure.csproj.AssemblyReference.cache
/Bank.Infrastructure/obj/Debug/net8.0/Bank.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Bank.Infrastructure/obj/Debug/net8.0/Bank.Infrastructure.GlobalUsings.g.cs
