body{
	margin: 0;
	background-color: #F8F8FF;
	display: grid;
	grid-template-columns: 286px 1fr;
	grid-template-rows: 102px 1fr;
	margin-top: 0;
}
.body *{
	font-family: Montserrat;
}
.main{
	height: 600px;
	grid-column: 2;
	grid-row: 2;
	box-shadow: 0px 0px 12px 2px rgba(37, 39, 62, 0.16);
	border-radius: 20px;
	min-width: 1200px;
	width: auto;
	height: auto;
	background-color: #fff;
	margin-right: 16px;
	margin-bottom: 16px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 239px 129px 129px 82px;
}
.transferMethod{
	grid-row: 1;
	grid-column: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 16px;
	margin-left: 16px;
	border-radius: 16px;
	box-shadow: 0px 0px 10px 1px rgba(37, 39, 62, 0.14);
}
.transferMethod-label{
	margin-left: 16px;
	margin-top: 16px;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
}
.transferMethod-box{
	width:46%;
	min-width: 35%;
	height:72px;
	border-radius: 16px;
	box-shadow: 0px 0px 7px 1px rgba(37, 39, 62, 0.16);      
	box-sizing: border-box;
	border-left: 0px;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.transferMethod-box img{
	margin-left: 16px;
	width: 40px;
	height: 40px;
}
.transferMethod-box a{
	margin-left: 10px;
}
.phoneEnter{
	grid-row:2;
	grid-column: 1;
	width:48.75%;
	min-width: 35%;
	box-shadow: 0px 0px 10px 1px rgba(37, 39, 62, 0.14);
	margin-left: 16px;
	margin-top: 10px;
	border-radius: 16px;
}
.phoneNumberLabel{
	margin-top: 16px;
	margin-left: 16px;
	font-size: 18px;
	font-weight: bold;
}
.phoneInput{
	margin-top: 15px;
	margin-left: 16px;
	margin-right: 16px;
	width: 78%;
	height: 50px;
	background-color: rgba(37, 39, 62, 0.09);
	border: 0;
	border-radius: 14px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 16px;
}
.transferAmountEnter{
	grid-row:3;
	grid-column: 1;

	box-shadow: 0px 0px 10px 1px rgba(37, 39, 62, 0.14);
	margin-left: 16px;
	margin-top: 10px;
	border-radius: 16px;
	display: flex;
	flex-wrap: wrap;
}
.amountLabel{
	width: 80%;
	margin-top: 16px;
	margin-left: 16px;
	font-size: 18px;
	font-weight: bold;
}
.amountWrap{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-left: 16px;
	margin-right: 16px;
	width: 100%;
}
.balanceLabel{
	width: 43%;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 14px;
	border: 1px solid black;
	padding-left: 16px;
	padding-right: 16px;
}
.amountInput{
	width: 43%;
	height: 50px;
	background-color: rgba(37, 39, 62, 0.09);
	border: 0;
	border-radius: 14px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 16px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sendEnter{
	height:72px;
	margin-left: 16px;
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
	grid-column: 1;
	grid-row: 4;
}
.sendEnter *{
	border-radius: 16px;
	width: 49%;
	height: 72px;
}
#cardsList{
	box-shadow: 0px 0px 7px 1px rgba(37, 39, 62, 0.16);      
	padding-left: 16px;
	font-size: 20px;
	font-weight: bold;
}
.sendButton{
	border: 0;
	background-color: #373962;
	color: white;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.recentEnter{
	grid-row:1 / 2;
	grid-column: 2;
	width:95.5%;
	height:340px;
	box-shadow: 0px 0px 10px 1px rgba(37, 39, 62, 0.14);
	margin-left: 16px;
	margin-top: 16px;
	border-radius: 16px;
}
